.carousel-container {
  display: flex;
  overflow-x: auto;
  width: 90%;
}

.recommended-cards {
  display: flex;
  overflow: visible;
}

.carousel-card {
  display: inline;
  width: 10rem;
  height: 11rem;
}
